<?xml version="1.0"?>
<config>
	<modules>
        <SunshineBiz_Permission>
            <version>0.1.0.0.0</version>
            <active>false</active>
            <depends>
                <Mage_User/>
            </depends>
        </SunshineBiz_Permission>
    </modules>
    <global>
    	<resources>
            <permission_setup>
                <setup>
                    <module>SunshineBiz_Permission</module>
                </setup>
            </permission_setup>
        </resources>
        <di>
            <preferences>
        	<Mage_User_Model_Resource_User>SunshineBiz_Permission_Model_Resource_User</Mage_User_Model_Resource_User>
        	<Mage_User_Model_Acl_Loader_Role>SunshineBiz_Permission_Model_Acl_Loader_Role</Mage_User_Model_Acl_Loader_Role>
        	<Mage_User_Model_Acl_Loader_Rule>SunshineBiz_Permission_Model_Acl_Loader_Rule</Mage_User_Model_Acl_Loader_Rule>
        	<Mage_User_Block_User_Edit_Tab_Roles>SunshineBiz_Permission_Block_User_Edit_Tab_Roles</Mage_User_Block_User_Edit_Tab_Roles>
        	<Mage_User_Model_Resource_Role>SunshineBiz_Permission_Model_Resource_Role</Mage_User_Model_Resource_Role>
        	<Mage_User_Model_Resource_Rules>SunshineBiz_Permission_Model_Resource_Rules</Mage_User_Model_Resource_Rules>
        	<Mage_User_Model_User>SunshineBiz_Permission_Model_User</Mage_User_Model_User>
        	<Mage_Adminhtml_Block_Page_Header>SunshineBiz_Permission_Block_Page_Header</Mage_Adminhtml_Block_Page_Header>
            </preferences>
        </di>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SunshineBiz_Permission>SunshineBiz_Permission_Adminhtml</SunshineBiz_Permission>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
            <modules>
                <SunshineBiz_Permission>
                    <files>
                        <default>SunshineBiz_Permission.csv</default>
                    </files>
                </SunshineBiz_Permission>
            </modules>
        </translate>
        <layout>
            <updates>
                <permission module="SunshineBiz_Permission">
                    <file>layout.xml</file>
                </permission>
            </updates>
        </layout>
    </adminhtml>
</config>