<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_LBS>
            <version>0.1.0.0.0</version>
            <active>true</active>
            <depends>
                <SunshineBiz_Location/>
            </depends>
        </SunshineBiz_LBS>
    </modules>
    <global>
    	<resources>
            <lbs_setup>
                <setup>
                    <module>SunshineBiz_LBS</module>
                </setup>
            </lbs_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SunshineBiz_LBS>SunshineBiz_LBS_Adminhtml</SunshineBiz_LBS>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
            <modules>
                <SunshineBiz_LBS>
                    <files>
                        <default>SunshineBiz_LBS.csv</default>
                    </files>
                </SunshineBiz_LBS>
            </modules>
        </translate>
        <layout>
            <updates>
                <lbs module="SunshineBiz_LBS">
                    <file>layout.xml</file>
                </lbs>
            </updates>
        </layout>
    </adminhtml>
</config>